  body {
    height: 100%;
    margin: 0; /* Quita el margen predeterminado del <body> */
    padding: 0; /* Quita el relleno predeterminado del <body> */
    overflow-x: hidden; /* Oculta el desbordamiento de contenido que no cabe en la ventana del navegador */

  }

  .App {
    display: flex;
    flex-direction: column;
    padding-top: 80px; /* Ajustar la distancia entre el encabezado y el contenido */
  }
  

  


/* App.css o tu archivo de estilos personalizado */

.navbar {
  display: flex;
  justify-content: space-between; /* Espaciado entre el logo y los enlaces */
  align-items: center; /* Alinear verticalmente */
  background-color: #0FADE9; 
  padding: 10px; /* Espaciado en la barra de navegación */
}

.nav-links {
  display: flex; /* Mostrar enlaces horizontalmente */
  gap: 95px; /* Espaciado entre los enlaces */
}

.nav-links a {
  text-decoration: none;
  color: #ffffff; /* Color de texto de los enlaces */
}

.nav-logo img {
  max-width: 100px; /* Ajusta el ancho del logo según tus necesidades */
}

/* Aplicar margen izquierdo solo a los enlaces más a la derecha */
.nav-links a:last-child {
  margin-left: 20px; /* Espacio entre el último enlace y el logo */
}

/* Estilos para el botón "Agendar Cita" */
.agendar-cita-button {
  background-color: rgba(15, 173, 233, 0.9);
  color: #fff; /* Color del texto blanco */
  border: 3px solid #ffffff;
  font-size: 15px;
  padding: 15px 50px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 270px;
  left: 50%;
  transform: translateX(-50%);
}
